html {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
body {
  margin: 0;
  padding: 0;
}
section {
  text-align: center;
}

#title {
  text-align: left;
  max-width: 40%;
  padding: 2px 0 30px 10px;
  margin: 10px 0;
  color: rgb(0, 0, 0);
  display: inline-block;
}
img {
  width: 100px;
  padding: 10px 10px 0 25px;
  display: inline-block;
}

#btn-translate {
  background-color: rgb(29, 80, 247);
  padding: 5px 15px;
  color: white;
  border-radius: 20px;
  border-color: rgb(245, 245, 245);
}

#btn-clear {
  padding: 5px 15px;
  margin: 0 15px;
  color: rgb(29, 80, 247);
  border-radius: 20px;
  border-color: rgb(245, 245, 245);
}

textarea {
  margin: 1rem;
  padding: 1rem;
  width: 50%;
  height: 10vh;
  border: rgb(48, 51, 238) solid;
}

div {
  margin: auto;
  width: 50%;
  height: 10vh;
  padding: 1rem;
  color: black;
  border: rgb(48, 51, 238) dashed;
}
footer {
  color: rgb(177, 178, 243);
  font-size: 0.8rem;
  margin: auto;
  padding: 30px 0 10px 0;
  text-align: center;
}

@media screen and (max-width: 800px) {
  #title {
    max-width: 45%;
    padding: 2px 0 10px 0px;
  }
  textarea {
    width: 80%;
  }
  div {
    width: 80%;
  }
}
